# Ignore virtual environment folder
venv/

#ignore the entire dataset folder
test/
train/

#Dataset google drive public link
#https://drive.google.com/drive/folders/1KpmZs8NEjo_8yNMDf4lScHM9m5afry_3?usp=sharing

